<!DOCTYPE html>
<html lang="en">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">

    // below line used for loading the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']})
google.charts.setOnLoadCallback(pieChart);
    
     // Callback that creates and populates the table
    function pieChart() {
      // Create the table
      var data = new google.visualization.arrayToDataTable([
          ['Word','Count'],
          {% for value in data %}
                {% if value[1] is string %}
                    ['{{value[0]}}','{{value[1]}}'],
                {% else %}
                    ['{{value[0]}}',{{value[1]}}],
                {% endif %}
            {% endfor %}
        ]);
    // Set chart options
    var options = {'title':'word frequency',
                        is3D: true,
                       'width':800,
                       'height':600};
    // Instantiate and draw the chart
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <center>
      <div>
        <div>
          <a href="{{ url_for('main') }}" class="btn">Main Page</a>
        </div>
        <form action="send" method="post">
            <div>
                <h4>Enter any number:</h4>
              <input
                type="number"
                name="number1"
                placeholder="N"
                min="1"
                autocomplete="off"
                required
              />
            </div>
            <div>
              <h4>Enter any number:</h4>
              <input
                type="number"
                name="number2"
                placeholder="L"
                min="1"
                autocomplete="off"
                required
              />
            </div>
          <div>
            <h4>Enter any content:</h4>
            <textarea
              class="text"
              name="searchtext"
              placeholder=" "
              min="1"
              max="800"
              required
            ></textarea>
          </div>
          <div>
            <input type="submit" value="Submit" onclick="hide()" />
          </div>
        </form>
      </div>
      {% if data %}
      <div>
        <p>{{ data }}</p>
      </div>
      
      {% endif %} 
      {% if list1 %}
      <div>
        <p>{{ list1 }}</p>
      </div>
      {% endif %} 
    </center>
  </body>
</html>
