<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <center>
      <div>
        <div>
          <a href="{{ url_for('home') }}" class="btn">Home</a>
        </div>
        <form action="1form" method="post">
          <div>
            <input
              type="text"
              name="filename"
              placeholder="Name of the new file"
              min="1"
              max="100"
              autocomplete="off"
              required
            />
          </div>
          <div>
            <textarea
              class="text"
              name="filecontent"
              placeholder="Content"
              min="1"
              required
            ></textarea>
          </div>
          <div>
            <input type="submit" value="Submit" onclick="hide()" />
          </div>
        </form>

        {% if msg %}
        <div>
          <p>{{ msg }}</p>
        </div>
        {% endif %}
      </div>
    </center>
  </body>
</html>
