<!DOCTYPE html>
<html>
<div style="text-align: center;">
<h1>Mohana Prabha Palanisamy</h1>
<h2>1001886353</h2>
</div>

div class="container" style="text-align: center;">
    {% if result|length>0 %}
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
    <tr>
    <th scope="col">time</th>
    <th scope="col">latitude</th>
    <th scope="col">longitude</th>
    <th scope="col">mag</th>
    <th scope="col">place</th>
    
    </tr>
    </thead>
    <tbody>
    {% for data in result %}
    <tr>
    <td>{{ data[0] }}</td>
    <td>{{ data[1] }}</td>
    <td>{{ data[2] }}</td>
    <td>{{ data[3] }}</td>
    <td>{{ data[4] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    {% else %}
    <h4>No data available..</h4>
    {% endif %}
    
    </div>



</html>