<!-- MOHANA PRABHA PALANISAMY
1001886353
CSE 6331 - Assignment 03 -->




<!DOCTYPE html>
<html>
<div style="text-align: center;">
<h1>Mohana Prabha Palanisamy</h1>
<h2>1001886353</h2>
</div>


<hr>
<divclass="container">

<h4 style="font-weight:bold"> Task 1:</h4>



<form action="/1" method="POST">
<label> Enter a Table Name: </label>
<input type="text" name="tablename" value=" " required><br>
<input type="submit" value="Show Details for RDB" class="btn btn-primary"/>
</form>
<br>
</div>
{% if result %}
<h4>Time elapsed: {{result}} seconds</h4>

<h4>Table has been Created</h4> 

{% endif %}
<divclass="container">

<h4 style="font-weight:bold"> Task 2:</h4>



<form action="/2" method="get">
    <label> Enter a random value in RDB: </label>
    <input type="text" name="rand" value=" " required><br>
    <input type="submit" value="Show Details for RDB" class="btn btn-primary"/>
</form>
<br>

<divclass="container">

<h4 style="font-weight:bold"> Task 3:</h4>



<form action="/3" method="get">
        <label> Enter a random value in Redis: </label>
        <input type="text" name="rand" value=" " required><br>
        <input type="submit" value="Show Details for Redis" class="btn btn-primary"/>
    </form>
    <br>


<divclass="container">

<h4 style="font-weight:bold"> Task 4:</h4>



<form action="/4" method="POST">
<label> Location: </label><input type="text" name="location" value="" required><br>
<label> Depth From : </label><input type="text" name="depthFrom" value="" required><br>
<label> Depth To : </label><input type="text" name="depthTo" value="" required><br>


<input type="submit" value="Show Details in RDB" class="btn btn-primary"/>
</form>
<br>

<h4 style="font-weight:bold"> Task 5:</h4>

<form action="/5" method="POST">
    <label> Location: </label><input type="text" name="location1" value="" required><br>
    <label> Depth From : </label><input type="text" name="depthFrom1" value="" required><br>
    <label> Depth To : </label><input type="text" name="depthTo1" value="" required><br>
    
    <input type="submit" value="Show Details in Redis" class="btn btn-primary"/>
    </form>
    <br>
</html>
 