<!DOCTYPE html>
<html>
    <h1>Results </h1>
    <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Picture</th>
      </tr>
    </thead>
    <tbody>
      {% if picture|length>0 %} 
      <tr>
        <td>{{year}}</td>
        <td>
          <img
            src="https://newstorage1adb.blob.core.windows.net/test/{{ picture }}"
            class="img-fluid"
          />
        </td>
      </tr>
      {% else %}
      <tr colspan="6" style="text-align: center;">
        <td>Name Doesn't Exist</td>
      </tr>
      {% endif %}
    </tbody>
  </table>

</html>
